<footer class="footer">
  <small>
    <a href="http://sns.i2r.a-star.edu.sg/", target = "_blank">A*STAR Sense & Sense-Abilities Programme</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Us", about_path %></li>
    </ul>
  </nav>
</footer>
